[submodule "logger"]
	path = vendor/logger
	url = git@github.com:Itai-lupo/simple-logger.git
[submodule "err_macros"]
	path = vendor/simpleUtils
	url = git@github.com:Itai-lupo/simple-error-check.git

